			.confirm_box {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.confirm_box .overlay {
				background: rgba(0, 0, 0, 0.5);
				position: absolute;
				z-index: 9;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}

			.confirm_box .confirm_model {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 10;
				overflow: hidden;
			}

			.confirm_box .confirm_model .model {
				background: #fff;
				width: 400px;
				border-radius: 4px;
				margin: 40px auto;
				overflow: hidden;
			}

			.confirm_box .confirm_model .model .header {
				float: left;
				width: 100%;
				background: #f8f8f8;
				border-bottom: solid 2px #ccc;
				padding: 10px;
				box-sizing: border-box;
			}

			.confirm_box .confirm_model .model .header h1 {
				font-size: 14px !important;
				font-family: helvetica;
				color: #555;
				font-weight: 300;
			}

			.confirm_box .confirm_model .model .content {
				padding: 10px 20px;
				float: left;
				width: 100%;
				box-sizing: border-box;
			}

			.confirm_box .confirm_model .model .content p {
				font-size: 12px !important;
				font-family: helvetica;
				color: #555;
				font-weight: 300;
			}

			.confirm_box .confirm_model .model .content .buttons_container {
				float: left;
				width: 100%;
				padding: 10px;
				text-align: right;
			}

			.confirm_box .confirm_model .model .content .buttons_container .button {
				float: right;
				padding: 5px 20px;
				border: none;
				margin: 0 10px;
				border-radius: 3px;
				border-bottom: solid 2px transparent;
				cursor: pointer;
			}

			.confirm_box .confirm_model .model .content .buttons_container .button:hover {
				border-bottom: solid 2px rgba(0, 0, 0, 0.4);
			}

			.confirm_box .confirm_model .model .content .buttons_container .button.confirm {
				background: #31333F;
				color: #fff;
			}

			.confirm_box .confirm_model .model .content .buttons_container .button.deny {
				background: #a30;
				color: #fff;
			}
			
			.header {
			background-color: #31333F;
			 color: white;
			 margin-bottom: 1.1%;    
			} 
			
			.paragraph {
			  padding: 0px 0px 0px 40px;
			}
			
			.title_class{
				text-align:center;
				font-size:3vw;
			}
			
			.logo{
			  margin-top: 1.6%;
			  margin-bottom: 0.1%;
			  margin-left: 1.3%;
			  display:inline-block;
			}
			
			.nav {
				position: absolute;
				top: 9%;
				left: 8%;
				font-weight: bold;
				font-size:1.4vw;
			}
							
			.buttonstyle {
			  background-color: #31333F; 
			  border: 2px solid #31333F;
			  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			  color: #ffffff ;
			  padding: 10px 24px;
			  border-radius: 3px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 20px;
			  font-weight: bold;
			}					  
					   
			.buttonstyle1 {
			  background-color: #ffffff; 
			  border: 2px solid #31333F;
			  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			  color: #31333F ;
			  padding: 10px 24px;
			  border-radius: 3px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 20px;
			  font-weight: bold;
			}

			li {
			  float: left;
			}
			
			li a, .dropbtn {
				display: inline-block;
				color: white;
				text-align: center;
				padding:17px 11px;
				text-decoration: none;
			}
			
			li a:hover, .dropdown:hover .dropbtn {
			  background-color: #31333F;
			  color: orange;
			  background-color: transparent;
			  text-decoration: underline;
			}
			
			li.dropdown {
			  display: inline-block;
			}
			
			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #31333F ;
			  min-width: 160px;
			  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			  z-index: 1;
			}

			.dropdown-content a {
			  color: white;
			  padding: 12px 16px;
			  text-decoration: none;
			  display: block;
			  text-align: left;
			}
					
			.dropdown-content a:hover {
			  background-color: #31333F
			}
			
			.dropdown:hover .dropdown-content {
			  display: block;
			}
			   
			#textinput {
			  padding:0 5px 150px;
			  width:400px;
			  margin-left:17px;
			}
			
			input{
			  background-color: #f1f1f1;
			  color: black;
			  padding: 10px 24px;
			  border-radius: 8px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 16px;
			}
			
			#label {
			  margin-left:0px;
			}
			
			.label_star {
			  margin-left:0px;
			  padding: 0px 0px 0px 0px;
			  color:red;
			}

			#textinput1 {
			  margin-left: 31px;
			  font-size:20px;
			}

			#textinput2 {
			  margin-left: 50px;
			  font-size:20px;
			}
			
			#textinput3 {
			  margin-left: 0px;
			  font-size:20px;
			}

			.username{
			  margin-left: 0px;
			  text-align:center;
			  padding: 0px 0px 0px 0px;
			}	
					
			.paragraph2 {
			  padding: 10px 0px 0px 0px;
			}
			
			label a:hover {
			  color: orange;
			}	
					
			.input1{
			  padding: 0px 0px 0px 0px;
			}
					
			body {
				background: url(statare3.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
			}			
					
			.error{
			  margin-left: 0px;
			  padding: 0px 0px 0px 0px;
			  color:red;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			}